<div class="container">
  <!-- Example row of columns -->
  <div id="room-container">
  </div>
  {{> footer}}
</div> <!-- /container -->
<script>
  {{#if hasCoords}}
  roomCoords = {
    lat: '{{lat}}',
    lng: '{{lng}}'
  };
  {{else}}
  roomLocation = '{{location}}';
  {{/if}}
  roomName = '{{name}}';
  roomId = '{{id}}';
</script>
{{> scripted}}
<script src="/js/room.js"></script>